<link rel="preload" href="chunks/pages/_error.js" as="script" />
<meta http-equiv="refresh" content="5;url=/">
</head>

<body>
    <div id="__next">
        <div class="container" id="container">
            <div class="containerContent" id="containerContent" data-scroll-content="true">
            </div>

            <div class="lightbox"></div><svg class="cursor" width="280" height="280" viewBox="0 0 280 280"></svg>

            <script src="unpkg.com/imagesloaded%404.1.4/imagesloaded.pkgd.min.js"></script>
        </div>
    </div>

    <script id="__NEXT_DATA__" type="application/json">
        {
            "props": {
                "pageProps": {
                    "posts": []
                },
                "__N_SSG": true
            },
            "page": "/error",
            "query": {},
            "buildId": "",
            "nextExport": false,
            "isFallback": false,
            "gsp": false
        }
    </script>

    <script nomodule="" src="chunks/framework/polyfills-e5012cf49fbb0a2642db.js"></script>
    <script src="chunks/framework/main-235005c3b45356be401c.js" async=""></script>
    <script src="chunks/framework/webpack-e067438c4cf4ef2ef178.js" async=""></script>
    <script src="chunks/framework/framework.cb05d56be993eb6b088a.js" async=""></script>
    <script src="chunks/framework/effect.js" async=""></script>
    <script src="chunks/framework/protect_root.js" async=""></script>
    <script src="chunks/framework/load_page.js" async=""></script>
    <script src="chunks/pages/_app.js" async=""></script>
    <script src="chunks/pages/_error.js" async=""></script>
</body>