<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <meta charSet="utf-8" />
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
                        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" /> -->
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5" />

    <meta name="next-head-count" content="18" />
    <link rel="preload" href="/css/style.css" as="style" />
    <link rel="stylesheet" href="/css/style.css" data-n-g="" /><noscript data-n-css=""></noscript>
    {{!--
    <link rel="preload" href="/../chunks/framework/main-235005c3b45356be401c.js" as="script" />
    <link rel="preload" href="/../chunks/framework/webpack-e067438c4cf4ef2ef178.js" as="script" />
    <link rel="preload" href="/../chunks/framework/framework.cb05d56be993eb6b088a.js" as="script" />
    <link rel="preload" href="/../chunks/framework/effect.js" as="script" />
    <link rel="preload" href="/../chunks/framework/protect_root.js" as="script" />
    <link rel="preload" href="/../chunks/framework/load_page.js" as="script" />
    <link rel="preload" href="/../chunks/pages/_app.js" as="script" /> --}}
</head>

<div id="canvas_div_no_cursor">
    {{{body}}}
</div>

{{!--
<script type="text/javascript">
    document.getElementById('canvas_div_no_cursor').style.cursor = "none";
    document.addEventListener('contextmenu', event => event.preventDefault());
    event.preventDefault()
</script> --}}

</html>