</head>
<link rel="preload" href="chunks/pages/contact.js" as="script" />
</head>

<body>
    <div id="__next">
        <div class="container" id="container">
            <ul id="sideNav"></ul>
            <div class="containerContent" id="containerContent" data-scroll-content="true">

                <header class="header">
                    <div class="headerContent">
                        <div class="logo" style="transform: translate(0px); opacity: 1;"><a href="/"></a>
                        </div>
                        <nav class="mainNav" style="transform: translate(0px); opacity: 1;">
                            <a href="/" data-path="/" class=""></a>
                            <a href="/projets" data-path="/projets" class=""></a>
                            <a href="/curriculum" data-path="/curriculum" class=""></a>
                            <a href="/contact" data-path="/contact" class="selected"></a>
                        </nav>
                    </div>
                </header>

                <footer data-page="commands">
                    <div class="line"></div>
                    <div class="footerContent">
                        <div class="contact">
                            <h2></h2>
                            <a href="mailto:nagib.lakhdari.pro@gmail.com" class="contact-cta"></a>
                        </div>
                        <ul>
                            <li><a href="/" class=""></a></li>
                            <li><a href="/projets" class=""></a></li>
                            <li><a href="/curriculum" class=""></a></li>
                            <li><a href="/contact" class="selected"></a></li>
                        </ul>
                    </div>
                </footer>

            </div>
            <div class="lightbox"></div>
            <script src="/unpkg.com/imagesloaded%404.1.4/imagesloaded.pkgd.min.js"></script>
        </div>
    </div>

    <script id="__NEXT_DATA__" type="application/json">
                {
                    "props": {
                        "pageProps": {}
                    },
                    "page": "/contact",
                    "query": {},
                    "buildId": "",
                    "nextExport": false,
                    "autoExport": false,
                    "isFallback": false
                }
            </script>

    <script nomodule="" src="chunks/framework/polyfills-e5012cf49fbb0a2642db.js"></script>
    <script src="chunks/framework/main-235005c3b45356be401c.js" async=""></script>
    <script src="chunks/framework/webpack-e067438c4cf4ef2ef178.js" async=""></script>
    <script src="chunks/framework/framework.cb05d56be993eb6b088a.js" async=""></script>
    <script src="chunks/framework/effect.js" async=""></script>
    <script src="chunks/framework/protect_root.js" async=""></script>
    <script src="chunks/framework/load_page.js" async=""></script>
    <script src="chunks/pages/_app.js" async=""></script>
    <script src="chunks/pages/contact.js" async=""></script>

</body>